.btn > a {
  color: inherit;
  text-decoration: none;
}
.btn-cta {
  padding: 10px 50px;
}
.btn-inline {
  padding: 6px 12px;
}
.btn-cta {
  background-color: #fff;
  border-color: #04003f;
  color: #04003f;
}
.btn-cta:hover, .btn-cta:focus, .btn-cta:active, .btn-cta.active, .open .dropdown-toggle.btn-cta {
  background-color: #04003f;
  border-color: #04003f;
  color: #34ebf8;
}
.btn-cta:active, .btn-cta.active, .open .dropdown-toggle.btn-cta {
  background-image: none;
}
.btn-cta.disabled, .btn-cta[disabled], fieldset[disabled] .btn-cta, .btn-cta.disabled:hover, .btn-cta[disabled]:hover, fieldset[disabled] .btn-cta:hover, .btn-cta.disabled:focus, .btn-cta[disabled]:focus, fieldset[disabled] .btn-cta:focus, .btn-cta.disabled.focus, .btn-cta[disabled].focus, fieldset[disabled] .btn-cta.focus {
  background-color: #a5a5a5;
  border-color: #a5a5a5;
}
.btn-cta.badge, .btn-cta .badge {
  background-color: #fff;
  border-color: #04003f;
  color: #04003f;
  font-weight: 300;
}
.entry-title {
  color: #ffc800;
}
/*# sourceMappingURL=template-lorem-ipsum.css.map */