@import "mixins";
@import "variables";
.btn>a {
	color: inherit;
	text-decoration: none;
}

.btn-cta {
	padding: 10px 50px;
}

.btn-inline {
	padding: 6px 12px;
}

@include btn('.btn-cta', #ffffff, $primary_brand, $primary_brand, $primary_brand, $secondary_brand, $primary_brand);
// @include btn('.btn-cta-hollow', #ffffff, $primary_brand, $primary_brand, $primary_brand, $secondary_brand, $primary_brand);
