@mixin rgba($prop, $color, $opacity:0) {
	$rgb-red: red($color);
	$rgb-green: green($color);
	$rgb-blue: blue($color);
	#{$prop}: $color;
	#{$prop}: rgba($rgb-red, $rgb-green, $rgb-blue, $opacity);
}

@mixin btn($class, $back, $font, $border, $hover-back, $hover-font, $hover-border, $dis-back:#a5a5a5) {
	#{$class} {
		background-color: $back;
		border-color: $border;
		color: $font;
		&:hover,
		&:focus,
		&:active,
		&.active,
		.open .dropdown-toggle& {
			background-color: $hover-back;
			border-color: $hover-border;
			color: $hover-font;
		}
		&:active,
		&.active,
		.open .dropdown-toggle& {
			background-image: none;
		}
		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			&,
			&:hover,
			&:focus,
			&.focus {
				background-color: $dis-back;
				border-color: #a5a5a5;
			}
		}
		&.badge,
		.badge {
			background-color: $back;
			border-color: $border;
			color: $font;
			font-weight: 300;
		}
	}
}

@mixin media($min, $max, $type:'width') {
	$query: '';
	@if $min !='' {
		$query: $query + '(min-' + $type + ': ' + $min + 'px) ';
	}
	@if $max !='' {
		$query: $query + '(max-' + $type + ': ' + $max + 'px) ';
	}
	@media screen and #{$query} {
		@content;
	}
}

// https://web-design-weekly.com/2013/05/12/handy-sass-mixins/
@mixin box-shadow($settings) {
	-webkit-box-shadow: $settings;
	-moz-box-shadow: $settings;
	box-shadow: $settings;
}

@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model;
	-moz-box-sizing: $box-model;
	box-sizing: $box-model;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;
}

//https://github.com/twbs/bootstrap/tree/v4-dev/scss/mixins
@mixin gradient-y($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
	background-repeat: repeat-x;
}

// From Bootstrap 3
@mixin form-control-validation($text-color:#555, $border-color:#ccc, $background-color:#f5f5f5) {
	// Color the label and help text
	.help-block,
	.control-label,
	.radio,
	.checkbox,
	.radio-inline,
	.checkbox-inline,
	&.radio label,
	&.checkbox label,
	&.radio-inline label,
	&.checkbox-inline label {
		color: $text-color;
	} // Set the border and box shadow on specific inputs to match
	.form-control {
		border-color: $border-color;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
		&:focus {
			border-color: darken($border-color, 10%);
			$shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($border-color, 20%);
			@include box-shadow($shadow);
		}
	} // Set validation states also for addons
	.input-group-addon {
		color: $text-color;
		border-color: $border-color;
		background-color: $background-color;
	} // Optional feedback icon
	.form-control-feedback {
		color: $text-color;
	}
	.multiselect {
		&,
		&:hover,
		&:focus,
		&:active {
			color: $text-color;
			border-color: $border-color;
		}
		.open>& {
			border-color: $border-color!important;
		}
		&-native-select>.btn-group>.multiselect-container {
			border-color: $border-color!important;
		}
	}
	&.panel-default,
	.panel-default,
	.panel-heading,
	.panel-footer {
		border-color: $border-color;
		color: $text-color;
	}
	.panel-heading,
	.panel-footer {
		background-color: $background-color;
	}
}
