$primary_brand: #04003F;
$secondary_brand: #34EBF8;
$grey: #DDD;
$red: #F50550;
$amber: #FFC800;
$yellow: #F3E28C;
$green: #25F887;
$black: #333;
$sidebar: #363636;
// Breakpoints
$screen-xs-min: 320;
$screen-xs-max: 767;
$screen-sm-min: 768;
$screen-sm-max: 991;
$screen-md-min: 992;
$screen-md-max: 1199;
$screen-lg-min: 1200;
$screen-xl-min: 1500;
// Slider
$baseLineHeight: 20px;
$baseBorderRadius: 4px;
